@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

// FLEXBOX
// FLEXBOX
// FLEXBOX

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.col {
  flex-flow: column nowrap;
}

// CSS GRID
// CSS GRID
// CSS GRID

.grid {
  display: grid;
}

.grid-l-sm {
  grid-template-columns: 65% 35%;
}

.gap-15 {
  gap: 15px;
}

.gap-8 {
  gap: 8px;
}

.reverse {
  order: +1;
}

.mt-3 {
  margin-top: 3px;
}

// LAYOUT
// LAYOUT
// LAYOUT

/* Padding */

.pt-med {
  padding-top: 50px;
}

.p-inline {
  padding: clamp(15px, 3vw, 40px);
}

.pt-sm {
  padding-top: 5px;
}

/* Borders */

.bt-1 {
  border-top: 0.1rem solid black;
}

.bt-bb {
  border-top: 0.1rem black solid;
  border-bottom: 0.1rem black solid;
}

/* Text */

.txt-center {
  text-align: center;
}

.txt-start {
  text-align: start;
}

.ff-primary {
  font-family: $ff-primary;
}

.ff-secondary {
  font-family: $ff-secondary;
}

.strong {
  font-family: $ff-secondary;
  font-weight: $fw-semibold;
  font-size: clamp(25px, 3vw, 40px);
}

.fs-h1 {
  font-size: $fs-h1;
  font-weight: $fw-reg;
  line-height: 1.2;
}

.fs-h2 {
  font-size: $fs-h2;
  font-weight: $fw-reg;
  line-height: 1.25;
}

.fs-body {
  font-size: $fs-body;
  line-height: 1.15;
  word-break: break-word;
}

.fs-grid-h1 {
  font-size: clamp(24px, 2vw, 30px);
  font-weight: $fw-reg;
  line-height: 1.1;
  padding-bottom: 10px;
}

.fs-body {
  font-size: $fs-body;
}

.fs-body-sublink {
  font-size: $fs-body-sublink;
}

.fs-subnav-link {
  font-family: $ff-primary;
  font-weight: $fw-reg;
  font-size: clamp(22px, 2.7vw, 30px);
  text-transform: uppercase;
}

.fs-sm-resp {
  font-size: clamp(13px, 2.5vw, 32px);
  line-height: 1.1;
}

// Expertise Grid Block Padding

.img-primary {
  margin: 0 auto;
  width: clamp(250px, 30vw, 300px);
}

// COLORS
// COLORS
// COLORS

.white {
  color: white;
}

.red {
  color: $clr-red;
}

.green {
  color: $clr-green;
}

.blue {
  color: $clr-blue;
}

.blue-subnav {
  color: #425dfb;
}

.white {
  color: white;
}

.move-up {
  margin-top: -140px;
}

.uppercase {
  text-transform: uppercase;
}

.scale-up {
  scale: 1.1;
  transform: translateY(12px);
}

.hover-red,
.hover-blue,
.hover-blk,
.hover-green {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

.hover-red:hover {
  color: $clr-red;
}

.hover-blue:hover {
  color: $clr-blue;
}

.hover-blk:hover {
  color: black;
}

.hover-green:hover {
  color: $clr-green;
}

.ff-primary {
  font-family: $ff-primary;
}
