@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

.features {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(small) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &__feature {
    padding: 30px 20px;

    @include breakpoint(small) {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    &--img {
      transition: transform ease-in-out 0.5s;
      cursor: pointer;

      &:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }

      .scale-up {
        @include breakpoint(medium) {
          transform: scale(1.2);
        }
      }
    }

    &--txt {
      .hover-red,
      .hover-blue,
      .hover-blk,
      .hover-green {
        cursor: pointer;
        transition: color ease-in-out 0.3s;

        &.hover-red:hover {
          color: $clr-red;
        }

        &.hover-blue:hover {
          color: $clr-blue;
        }

        &.hover-blk:hover {
          color: black;
        }

        &.hover-green:hover {
          color: $clr-green;
        }
      }

      h1,
      h2 {
        font-weight: 400;
        padding-top: 20px;
      }

      h1 {
        font-size: $fs-h-1;
      }

      p {
        font-size: $fs-body;
        font-family: $ff-secondary-font;
        line-height: 1.2;
      }
    }
  }
}
