@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

.features {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(small) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &__feature {
    padding: 30px 20px;

    @include breakpoint(small) {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    &--img {
      transition: transform ease-in-out 0.5s;
      cursor: pointer;

      &:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }

      img {
        margin: 0 auto;
        width: clamp(240px, 30vw, 300px);
        padding-bottom: 25px;

        @include breakpoint(small) {
          padding-bottom: 0px;
        }
      }

      .scale-up {
        scale: 1;

        @include breakpoint(small) {
          scale: 1.2;
        }
      }

      .scale-down {
        scale: 0.9;
      }
    }

    &--txt {
      padding: 0px;

      @include breakpoint(medium) {
        padding: 0 50px;
      }

      a {
        color: black;
      }

      h1,
      h2 {
        font-weight: 400;
      }

      h1 {
        font-size: $fs-h1;
      }

      p {
        font-size: $fs-body;
        font-family: $ff-secondary;
        line-height: 1.2;
      }
    }
  }
}
