@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

.footer {
  margin-top: 80px;
  width: 100%;

  @include breakpoint(small) {
    &__br {
      display: none;
    }
  }
}
