@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

body {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: clamp(15px, 3vw, 50px);
  position: relative;
}

.container {
  width: 100%;
  max-width: 1220px;
}
