@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

body {
  display: grid;
  justify-content: center;
  font-family: $ff-primary-font;
}

.container {
  max-width: 1250px;
}
