@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  &__intro {
    padding: 0 clamp(15px, 2.5vw, 40px);
    font-size: clamp(24px, 3.5vw, 42px);

    > img {
      margin: 0 auto;
      width: clamp(250px, 30vw, 300px);

      @include breakpoint(small) {
        &.scale-up {
          transform: scale(1.5);
          margin-bottom: 70px;
        }
      }
    }

    &--txt {
      padding-top: 25px;

      &--link {
        display: inline-flex;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        transform: translateY(4px);
        transition: background ease-in-out 0.3s;

        &.red {
          border: 0.1rem solid $clr-red;

          &:hover {
            background: $clr-red;
          }
        }

        &.green {
          border: 0.1rem solid $clr-green;

          &:hover {
            background: $clr-green;
          }
        }

        @include breakpoint(medium) {
          width: 35px;
          height: 35px;
        }

        img {
          transition: filter ease-in-out 0.3s;

          &:hover {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}
