@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

.hero {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  &__intro {
    font-size: clamp(24px, 3.2vw, 38px);
    line-height: 1.2;

    @include breakpoint(medium) {
      padding: 0 50px;
    }

    @include breakpoint(large) {
      padding: 50px 100px;
    }

    > img {
      margin: 0 auto;
      width: clamp(250px, 30vw, 300px);

      @include breakpoint(small) {
        &.scale-up {
          transform: scale(1.5);
          margin-bottom: 70px;
        }
      }
    }

    &--txt {
      padding-top: 25px;

      &--link {
        display: inline-flex;
        // border-radius: 50%;
        width: 25px;
        height: 25px;
        transform: translateY(4px);
        // transition: background ease-in-out 0.3s;

        // &.red {
        //   border: 0.1rem solid $clr-red;

        //   &:hover {
        //     background: $clr-red;
        //   }
        // }

        // &.green {
        //   border: 0.1rem solid $clr-green;

        //   &:hover {
        //     background: $clr-green;
        //   }
        // }

        // &.blue {
        //   border: 0.1rem solid $clr-blue;

        //   &:hover {
        //     background: $clr-blue;
        //   }
        // }

        @include breakpoint(medium) {
          width: 35px;
          height: 35px;
        }

        img {
          // transition: filter ease-in-out 0.3s;
          padding: 1px;

          @include breakpoint(medium) {
            padding: 2px;
          }

          // &:hover {
          //   filter: brightness(0) invert(1);
          // }
        }
      }
    }
  }
}
